# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/.idea/

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# IntelliJ project files
*.iml
*.iws
*.ipr

# eclipse project file
.settings/
.classpath
.project

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
